<!DOCTYPE html>
<html>
<head>
    <title>Query Database - {{ db_name }}</title>
</head>
<body>
    <h1>Database: {{ db_name }}</h1>

    <form method="POST">
        <h3>Search by Patient ID</h3>
        <input type="text" name="patient_ID" placeholder="Enter Patient ID (e.g. Patient1)">
        <h3>Search by Variant NM</h3>
        <input type="text" name="variant" placeholder="Enter Variant NCVI Chromosome Accession Number (e.g. NC_000001.11:g.7965348G>T)">
        <br><br>
        <button type="submit">Run Query</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if data %}
        {% if result_type == "patient" %}
            <h2>Variants for this Patient:</h2>
            <table border="1" cellpadding="5">
                <tr>
                    <th>Variant</th><th>NM</th><th>Gene Symbol</th><th>HGNC</th><th>Classification</th<><th>Condition</th><th>Star_Rating</th><th>Condition</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row.variant }}</td>
                    <td>{{ row.variant_NM }}</td>
                    <td>{{ row.gene }}</td>
                    <td>{{ row.HGNC_ID }}</td>
                    <td>{{ row.Classification }}</td>
                    <td>{{ row.Conditions }}</td>
                    <td>{{ row.Stars }}</td>
                    <td>{{ row.Review_status }}</td>

                </tr>
                {% endfor %}
            </table>
        {% elif result_type == "variant" %}
            <h2>Variant Details:</h2>
            <table border="1" cellpadding="5">
                <tr>
                    <th>variant</th><th>variant_NM</th><th>gene</th><th>HGNC_ID</th><th>Classification</th>
                    <th>Conditions</th><th>Stars</th><th>Review_status</th><th>Patient_Count</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row.variant }}</td>
                    <td>{{ row.variant_NM }}</td>
                    <td>{{ row.gene }}</td>
                    <td>{{ row.HGNC_ID }}</td>
                    <td>{{ row.Classification }}</td>
                    <td>{{ row.Conditions }}</td>
                    <td>{{ row.Stars }}</td>
                    <td>{{ row.Review_status }}</td>
                    <td>{{ row.Patient_Count }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
</body>
</html>
